.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/*РЕАКТ-ТРЕНАЖЁР: */


/*   1.6  */
/* идеальный пример пропса - звёздочки*/
/*
.star {
  font-size: 42px;
  color: #FBB202;
  margin: 4px;
}

.star:after {
  content: '☆';
}

.checked:after {
  content: '★';
}

.title {
  margin-top: 8px;
}
*/


/*2.1*/
/*
.notification {
  padding: 8px;
  margin: 8px 0;
  background-color: #CAE3F0;
}

.notification.info {
  background-color: #d2ecd5;
}

.notification.warning {
  background-color: #f9edc1;
}

.notification.error {
  background-color: #f5dbd9;
}

.title {
  display: inline-block;
  margin-left: 4px;
  font-weight: bold;
}

.message {
  margin-top: 8px;
  color: #3e4956;
}
*/



/*2.4*/
/*
.title {
   margin: 16px 0;
  font-size: 20px;
  font-weight: 400
}

.progressBarTitle {
  color: blue;
}

.progressBar {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}


.progressBarWrapper {
  background: #CECECE;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.progressBarDone {
  background: red;
  color: #fff;
  text-align: right;
  padding: 5px 10px;
  font-weight: bold;
  height: 100%;
  width: var(--progress-amount, 0%);
  display: flex;
  align-items: center;
}

.progressBarDone span {
  margin-right: 5px;
}
*/


/*3.2*/
/*
.progress {
  width: 100%;
  background-color: #ddd;
}

.bar {
  width: 1%;
  height: 30px;
  background-color: #95C255;
}

.button {
  padding: 8px;
  margin-top: 8px;
  background-color: #27282C;
  color: white;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.button:disabled {
  background-color: #a0a1a5;
  color: #c5c4c4;
}
*/


/*3.6*/
/*
.changeDimentionBlock {
  display: flex;
  flex-direction:row; 
  align-items: center;
  margin: 20px;
}

.labeled-input {
  margin: 10px;
}

.labeled-input__input {
  text-align: center;
  height: 40px;
  width: 140px;
  font-size: 180%;
}

.labeled-input__label {
  font-size: 110%;
  border: 1px solid #a5a5a5;
  background-color: #F5F5F5;
}
*/






/*3.7 и 3.8
.input {
/* за счёт этих свойств рамка становится синей (и чёрный не перекрывает её, а синюю видно поверх светло-серой)
  outline: 0;  /*убирает контур вокруг элемента  - только при кликаньи. чтобы стандартный чёрный outline не перекрывал синий цвет
  border: 1px solid #dfdfdf;  /*делает рамку вокруг элемента тонкой и светло-серой - всегда. чтобы более толстый и яркий синий перекрывал светло-серый при клике и наведении курсора
}


/*когда курсор просто наведена (hover) и когда кликнуто на инпут - то цвет рамки синий
.input:hover, .input:focus {  
  border-color: #1E72F7;
}


/*  когда ошибка - цвет красный
.input__error {
  border-color: #E95140 !important;  /*ключевое слово !important гарантирует первоочерёдность этого свойства, даже если оно менялось в других местах кода.
}

/*цвет надписи об ошибке
.error {
  font-size: 10px;
  color: #E95140;
  margin-top: 4px;
}  
*/








