.App {
  text-align: center;
}




.input {
  outline: 0;  
  border: 1px solid #dfdfdf;  
}

.input:hover, .input:focus {  
  border-color: #1E72F7;
}

.input__error {
  border-color: #E95140 !important;  
}

.error {
  font-size: 10px;
  color: #E95140;
  margin-top: 4px;
}  









